@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);


body {
  background: url(./bg/sunny-rocky-mountains.png);
  color: rgb(255, 255, 255);
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: center;
}

button,input {
  background-color: #302f31;
  
  
}

.title {
  
  font-size: 50px;
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
